

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Контакты</title>
</head>
<body>
<div>
  <section>
      <img src="/Images/Medved.jpg" class="img-thumbnail avatar rounded mx-auto d-block">
  
      <h4 class="text-white text-center"><br>Медведь Никита Юрьевич</h4>
      <h5 class="text-white text-center">Telegram: </h5>
      <h5 class="text-white text-center">Email: </h5>
  </section>
</div>
</body>
</html>