@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/login.css"/>
    <title>Добавить</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col login">
            <form class="box" asp-controller="Subjects" asp-action="AddSubjectToDB" method="post">
                <h1></h1>
                <input type="text" placeholder="Название предмета" name="name">
                <input type="submit" value="Добавить">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>