@model SubjectIdAndGroupName

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/login.css"/>
    <title>Добавить</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col login">
            <form class="box" asp-controller="Groups" asp-action="AddGroupToSubject" method="post">
                <div class="row text-white" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" value="@Model.SubjectId" name="SubjectId"/>
                <input type="text" placeholder="Название" name="GroupName">
                <input type="submit" value="Добавить">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>