@model GroupPostDTO

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/login.css"/>
    <title>Добавить</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col login">
            <form class="box" asp-controller="Groups" asp-action="SaveFileToGroup" method="post" enctype="multipart/form-data">
                <div class="row text-white" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" name="GroupdId" value="@Model.GroupdId"/>
                <input type="text" placeholder="Название" name="Name">
                <input type="text" placeholder="Описание" name="Description">
                <input type="file" class="text-white" name="FileData" accept="application/pdf"/>
                <input type="submit" value="Сохранить">
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>